* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}


body {
    width: 100vw;
    position: sticky;
    overflow-x: hidden;
}


.main-page {
    overflow-x: hidden;
    width: 100%;
}

